
body {
    background-color: linen;
    color: darkslategrey;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

a:hover {
    color: dimgrey;
}

a:link {
    color: white;
}
#logo{
display: block;
    margin: auto;
}